# load data

In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame({'class':np.random.choice(['A','B','C'], size=100),'value':np.random.randn(100), 'new_class': np.random.choice(['a', 'b', 'c'], size=100)})
df

   class     value new_class
0      B  2.035063         a
1      C  1.730253         c
2      B -1.727518         c
3      C -0.732475         c
4      B -1.172624         c
..   ...       ...       ...
95     C -0.584260         b
96     B -1.367897         a
97     B  0.702593         c
98     C  1.875297         a
99     C -1.191612         c

[100 rows x 3 columns]

In [17]:
df = pd.get_dummies(df, columns=['class']).astype({"class_A": int, "class_B": int, "class_C": int})
df

       value new_class  class_A  class_B  class_C
0   2.035063         a        0        1        0
1   1.730253         c        0        0        1
2  -1.727518         c        0        1        0
3  -0.732475         c        0        0        1
4  -1.172624         c        0        1        0
..       ...       ...      ...      ...      ...
95 -0.584260         b        0        0        1
96 -1.367897         a        0        1        0
97  0.702593         c        0        1        0
98  1.875297         a        0        0        1
99 -1.191612         c        0        0        1

[100 rows x 5 columns]

In [18]:
from sklearn.preprocessing import LabelEncoder

#step 1: initiate object
le = LabelEncoder()

#step 2: fit
le.fit(df['new_class'])

#step 3: transform (and save to dataframe)
df['new_class'] = le.transform(df['new_class'])
df

       value  new_class  class_A  class_B  class_C
0   2.035063          0        0        1        0
1   1.730253          2        0        0        1
2  -1.727518          2        0        1        0
3  -0.732475          2        0        0        1
4  -1.172624          2        0        1        0
..       ...        ...      ...      ...      ...
95 -0.584260          1        0        0        1
96 -1.367897          0        0        1        0
97  0.702593          2        0        1        0
98  1.875297          0        0        0        1
99 -1.191612          2        0        0        1

[100 rows x 5 columns]

In [11]:
le.classes_

array(['a', 'b', 'c'], dtype=object)

In [ ]:
le.

{}